{{#if products}}
  {{#each products}}
  <div>
    <a href='/product_details/{{this.slug}}'>
      <img src={{this.image}} height="250px">
      <p class="features-item-info">{{this.name}}</p>
      <p class="products-price">₱ {{this.price}}</p>
    </a>
  </div>
  {{/each}}
{{else}}
  <div class="container text-center mb-4">
    <h6>Stay tuned for limited products!</h6>
  </div>
{{/if}}
