<h1 style="text-align:center; margin-top: 10px">{{title}}</h1>
<table class="table table-bordered table-dark" style="max-width: 900px; margin:auto; text-align: center">
   <thead>
      <tr>
         <th class="table-secondary" colspan="2"><h3><span style="font-family: serif">V</span>anguard</h3></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th class="table-secondary" style="padding-top: 50px;">
            {{table1}}
         </th>
         <td>
            {{{table1content}}}
         </td>
      </tr>
      <tr>
         <th class="table-secondary" style="padding-top: 30px;">
            {{table2}}
         </th>
         <td>
            {{{table2content}}}
         </td>
      </tr>
   </tbody>
</table>
<br>
<div class="row">
   <div class="column">
      <table class="table table-bordered table-dark" style="margin-left: auto; margin-right: 20px; max-width: 700px; text-align: center">
         <thead>
            <tr>
               <th colspan="2" class="table-primary" style="text-align: center;"><h5>Schedule</h5></th>
            </tr>
         </thead>
         <tbody>         
            <tr>
               <th>Normal Schedule</th>
               <td>Every Mondays, <b>8:00 AM</b> to <b>5:00 PM</b></td>
            </tr>
            <tr>
               <th>Special Events</th>
               <td>Would be announced in the bulletin board.</td>
            </tr>
         </tbody>

      </table>
   </div>
   <div class="column">
      <table class="table table-bordered table-dark" style="max-width: 680px; margin-right: 50px; margin-left: auto; padding: 0px; text-align: center">
         <thead>
            <th class="table-primary"><h5>Calendar</h5></th>
         </thead>
         <tbody>
            <tr>
               <th>
                  <iframe src="https://calendar.google.com/calendar/b/2/embed?height=450&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FManila&amp;src=ZDNiNHR0OXA0ODFjdjg0ZWFvbm9pcGJoZmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%239E69AF&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showNav=0&amp;showTitle=0&amp;showTz=0&amp;showDate=1" style="border-width:0; padding: 0px" width="670" height="450" frameborder="0" scrolling="no"></iframe>
               </th>
            </tr>
         </tbody>
      </table>
   </div>
</div>
