<h1 style="text-align:center">{{title}}</h1>
<div class="row student">


    <div class="col-sm-10">
    <table class="table table-bordered table-dark" style="max-width: none; margin-left: 130px;">
        <thead >
            <th colspan="2" style="text-align:center">Details</th>
        </thead>
        <tr>
            <th>Name</th>
            <td>{{{name}}}</td>
        </tr>
        <tr>
            <th>Identification:</th>
            <td>{{{id}}}</td>
        </tr>
        <tr>
            <th>Contact Info:</th>
            <td>{{{contact}}}</td>
        </tr>
        <tr>
            <th>Short Description:</th>
            <td>{{desc}}</td>
        </tr>
        <tr>
            <th>Profile Image:</th>
            <td><img src="{{this.img}}" id="profilepic" border="5" style="border-color: silver;"/></td>
        </tr>
    </table>
    </div>
  </div>